<div id="about" class="container equal-height">
	<div class="row">
		<div class="col col-xs-12 col-sm-6 hidden-xs left" style="background-image: url('<%= image_path("photo.jpg") %>')"></div>
		<div class="col col-xs-12 col-sm-6 right">
			<h1>
				Марина<br/>
				Жгивалёва
			</h1>

			<h5>художница</h5>

			<div class="separator light"></div>

			<p>1974г. Родилась в городе Рыбинске Ярославской области.</p>

			<p>1995г. окончила Ярославское Художественное Училище, отделение «Живопись».</p>
			
			<p>2001г. окончила Московский Государственный Университет Печати, факультет «Художественно-техническое оформление печатной продукции».</p>

			<p>2002г. член Союза Художников России.</p>

			<%= link_to "Связаться со мной", contact_path, :class=> "btn light" %>
		</div>
	</div>
</div>