<div id="contact" class="container equal-height">
	<div class="row">
		<div class="col col-sd-12 col-md-6 left">
			<div class="info-box">
				<span class="icon sl"></span>
				<div class="details">
					<h1>Ссылки</h1>
					<div class="separator light"></div>
					<div class="links">
						<p>
							<a class="icon fb" href="#"></a>
							<a class="link" href="#">facebook.com</a>
						</p>
						<p>
							<a class="icon fl" href="#"></a>
							<a class="link" href="#">flickr.com</a>
						</p>
						<p>
							<a class="icon da" href="#"></a>
							<a class="link" href="#">deviantart.com</a>
						</p>
						<p>
							<a class="icon be" href="#"></a>
							<a class="link" href="#">behance.net</a>
						</p>
						<p>
							<a class="icon li" href="#"></a>
							<a class="link" href="#">linkedin.com</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col col-sd-12 col-md-6 right">
			<h1>Написать</h1>

			<div class="separator light"></div>

			<%= form_tag(contact_path, method: "post") do %>
				<div class="form-group">
					<%= email_field_tag(:email, nil, placeholder: "Ваш e-mail", class: "form-control") %>
				</div>
				<div class="form-group">
					<%= text_field_tag(:title, nil, placeholder: "Заголовок", class: "form-control") %>
				</div>
				<div class="form-group">
					<%= text_area_tag(:text, "", size: "24x6", placeholder: "Сообщение", class: "form-control") %>
				</div>
				<%= show_simple_captcha(placeholder: "Код с картинки", input_html: { class: "form-control", maxlength: 4 }) %>
				<%= submit_tag("Отправить", class: "btn light") %>
			<% end %>
		</div>
	</div>
</div>