<div id="exhibitions" class="container">
	<% @events.each do |year| %>
	<div class="row year">
		<h1><%= year.name %></h1>
		<div class="separator center"></div>
		<% year.months.each do |month| %>
		<div class="row month">
			<div class="col-md-6">
				<h2><%= I18n.t('date.month.' + month.name.downcase) %></h2>
			</div>
			<div class="col-md-6">
				<% month.exhibitions.each do |exhibition| %>
				<div class="row event">
					<h2 class="day"><%= exhibition.day %></h2>
					<p><%= exhibition.title %></p>
					<p class="place">/ <%= exhibition.place %> /</p>
				</div>
				<% end %>
			</div>
		</div>
		<% end %>
	</div>
	<% end %>
</div>