<div id="portfolio" class=" container-fluid">
	<div id="portfolio" class=" container">
		<div class="separator center"></div>
		<ul class="filter nav nav-pills">
			<li class="active">
				<a href="#" class="active" data-group="all">Все</a>
			</li>
			<% @tags.each do |tag| %>
			<li>
				<a href="#" data-group="<%= tag.name %>"><%= tag.title %></a>
			</li>
			<% end %>
		</ul>
	</div>
	<div class="wrap">
		<% @paintings.each do |pic| %>
			<div class="item <%= pic.css %>" data-groups="<%= pic.tag %>">
				<a href="<%= pic.url %>" class="link" data-lightbox="picture" data-title="<%= pic.title %>">
					<div class="pic">
						<img src="<%= pic.url %>" alt="<%= pic.title %>"/>
					</div>
					<div class="cover">
						<h4><%= pic.title %></h4>
						<div class="info">
							<p><%= pic.materials %></p>
							<p><%= pic.width %>x<%= pic.height %>см</p>
							<p><%= pic.year %>г.</p>
						</div>
					</div>
				</a>
			</div>
		<% end %>
	</div>
	<div class="text-center">
		<a id="more" class="btn" href="#">Показать ещё</a>
	</div>
</div>
<script id="picture_tpl" type="text/x-jquery-tmpl">
	<div class="item ${css}" data-groups="${tag}">
		<a href="${url}" class="link" data-lightbox="picture" data-title="${title}">
			<div class="pic">
				<img src="${url}" alt="${title}"/>
			</div>
			<div class="cover">
				<h4>${title}</h4>
				<div class="info">
					<p>${materials}</p>
					<p>${width}x${height}см</p>
					<p>${year}г.</p>
				</div>
			</div>
		</a>
	</div>
</script>