.lb-disable-scrolling
{
	overflow: hidden;
}

.lightboxOverlay
{
	opacity: 0.8;
	display: none;
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}

.lightbox
{
	text-align: center;
	font-weight: normal;
	line-height: 0;
	width: 100%;
	position: absolute;
	left: 0;
	z-index: 1000;

	.lb-outerContainer
	{
		background-color: #FFF;
		width: 250px;
		height: 250px;
		margin: 0 auto;
		position: relative;

		&:after
		{
			display: table;
			clear: both;
			content: '';
		}

		.lb-container
		{
			padding: 5px;

			.lb-image
			{
				display: block;
				max-width: inherit;
				height: auto;
			}

			.lb-nav
			{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 10;

				.lb-prev,
				.lb-next
				{
					opacity: 0;
					display: block;
					text-decoration: none;
					width: 25%;
					height: 100%;
					position: relative;
					cursor: pointer;

					transition: opacity 0.6s;

					&:before
					{
						color: #FFF;
						font-family: 'FontAwesome';
						font-size: 40px;
						line-height: 40px;
						text-shadow: 0 0 4px #000;
						margin: -20px 0 0 -20px;
						position: absolute;
						left: 50%;
						top: 50%;
					}
				}

				.lb-prev
				{
					float: left;
					left: 0;

					&:before
					{
						content: '\f053';
					}

					&:hover
					{
						opacity: 1;
					}
				}

				.lb-next
				{
					float: right;
					right: 0;

					&:before
					{
						content: '\f054';
					}

					&:hover
					{
						opacity: 1;
					}
				}
			}

			.lb-loader
			{
				text-align: center;
				line-height: 0;
				width: 100%;
				height: 25%;
				position: absolute;
				top: 43%;
				left: 0;

				.lb-cancel
				{
					display: block;
					/*background: image-url('close.png') no-repeat;*/
					width: 32px;
					height: 32px;
					margin: 0 auto;
				}
			}
		}
	}

	.lb-dataContainer
	{
		padding: 10px 0 0;
		margin: 0 auto;
		width: 100%;

		&:after
		{
			clear: both;
			display: table;
			content: '';
		}

		.lb-data
		{
			color: #ccc;
			padding: 0 4px;

			.lb-details
			{	
				float: left;
				text-align: left;
				text-shadow: 0 0 4px #000;
				width: 85%;
				height: 30px;

				.lb-caption
				{
					font-size: 14px;
					line-height: 14px;
				}

				.lb-number
				{
					clear: left;
					display: block;
					color: #999;
					font-size: 12px;
					line-height: 12px;
					padding: 4px 0 0;
				}
			}

			.lb-close
			{
				opacity: 0.7;
				float: right;
				display: block;
				color: #FFF;
				font-family: 'FontAwesome';
				font-size: 30px;
				line-height: 30px;
				text-shadow: 0 0 4px #000;
				text-decoration: none;
				cursor: pointer;
				transition: opacity 0.2s;

				&:before
				{
					content: '\f00d';
				}

				&:hover
				{
					opacity: 1;
				}
			}
		}
	}
}