@import "fonts.css.less";
@import "twitter/bootstrap";
@import "lib/lightbox.css.less";

body
{
	overflow-x: hidden;
	background-color: #F5F5F5;
	color: #000;
	font-family: 'Roboto Condensed';
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	position: relative;
}

.separator
{
	display: block;
	width: 100%;
	height: 1px;
	position: relative;

	&:after
	{
		background: #000;
		content: '';
		width: 60px;
		height: 1px;
		margin: -1px 0 0;
		position: absolute;
		top: 50%;
	}

	&.light
	{
		&:after
		{
			background: #FFF;
		}
	}

	&.center
	{
		&:after
		{
			left: 50%;
			margin-left: -30px;
		}
	}
}

.btn
{
	display: inline-block;
	background: none;
	color: #000;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 40px;
	text-transform: uppercase;
	text-decoration: none;
	border: 2px solid #000;
	border-radius: 0;
	padding: 0 25px;
	transition: all .3s ease;

	&:hover
	{
		background: #000;
		color: #FFF;
	}

	&.light
	{
		background: none;
		color: #FFF;
		border-color: #FFF;

		&:hover
		{
			background: #FFF;
			color: #000;
		}
	}
}

.form-control
{
	background: #FFF;
	color: #000;
	border: 2px solid #FFF;
	border-radius: 0;

	&:focus
	{
		border-color: #FFF;
		box-shadow: none;
	}
}

.icon
{
	display: inline-block;
	font-family: 'FontAwesome';
	text-align: center;
	text-decoration: none;
	position: relative;

	&:hover
	{
		text-decoration: none;
	}

	&.vk:before
	{
		content: '\f189';
	}

	&.fb:before
	{
		content: '\f230';
	}

	&.ok:before
	{
		content: '\f263';
	}

	&.tw:before
	{
		content: '\f099';
	}

	&.gp:before
	{
		content: '\f0d5';
	}

	&.sl:before
	{
		content: '\f08e';
	}

	&.fl:before
	{
		content: '\f16e';
	}

	&.da:before
	{
		content: '\f1bd';
	}

	&.be:before
	{
		content: '\f1b4';
	}

	&.li:before
	{
		content: '\f0e1';
	}

	&.cr:before
	{
		content: '\f1f9';
	}
}

#header
{
	margin: 0 0 25px;

	.navbar
	{
		border: 0;
		margin: 0;

		.navbar-header
		{
			text-align: center;
			width: 100%;

			.navbar-brand
			{
				float: none;
				display: inline-block;
				vertical-align: top;
				width: 115px;
				height: 28px;
				padding: 0;
				margin: 30px 0;
			}

			.navbar-toggle
			{
				float: none;
				border: 0;
				height: 28px;
				width: 28px;
				margin: 0 auto 10px;
				padding: 0;

				.icon
				{
					display: inline-block;
					color: #000;
					font-family: 'FontAwesome';
					font-size: 26px;
					line-height: 28px;
					text-align: center;
					width: 28px;
					margin: 0;

					&:before
					{
						content: '\f0c9';
					}
				}
			}
		}

		.navbar-collapse
		{
			text-align: center;
			
			.navbar-nav
			{
				float: none;
				display: inline-block;
				vertical-align: top;

				li
				{
					a
					{
						overflow: hidden;
						padding: 0;
						margin: 0 5px;

						span 
						{
							overflow: hidden;
							display: block;
							background: none;
							color: #000;
							font-size: 15px;
							font-weight: 700;
							line-height: 40px;
							text-transform: uppercase;
							text-decoration: none;
							height: 40px;
							padding: 0 15px;
							position: relative;
							transform-origin: 50% 0%;
							transform-style: preserve-3d;
							transition: all .4s ease;

							&:after
							{
								display: block;
								background: #000;
								content: attr(data-title);
								color: #FFF;
								padding: 0 15px;
								position: absolute;
								left: 0;
								right: 0;
								top: 0;
								transform-origin: 50% 0%;
								transform: translate3d(0px, 100%, 0px) rotateX(-90deg);
							}
						}

						&:hover,
						&.active
						{
							background: none;

							span
							{
								overflow: visible;
								transform: translate3d(0px, 0px, -40px) rotateX(90deg);
							}
						}
					}
				}
			}
		}
	}
}

#portfolio
{
	min-height: 100%;
	height: 100%;

	.separator
	{
		margin: 0 0 20px;
	}

	.filter
	{
		text-align: center;
		margin: 0 0 15px;

		li
		{
			float: none;
			display: inline-block;
			margin: 0;

			a
			{
				background: none;
				color: #666;
				font-size: 13px;
				font-weight: 700;
				letter-spacing: 0.5px;
				line-height: 30px;
				text-transform: uppercase;
				padding: 0;
				margin: 0 8px;

				&:hover
				{

				}
			}

			&.active
			{
				a
				{
					color: #000;
				}
			}
		}
	}

	.item
	{
		padding: 0;

		.link
		{
			display: block;
			margin: 15px;
			position: relative;

			.pic
			{
				img
				{
					width: 100%;
					height: auto;
				}
			}

			.cover
			{
				opacity: 0;
				background: rgba(0,0,0, .8);
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				transform: scale(.9);
				transition: all .3s ease;

				h4
				{
					color: #fff;
					font-size: 20px;
					line-height: 22px;
					text-transform: uppercase;
					margin: 0;
					position: absolute;
					left: 30px;
					right: 30px;
					top: 30px;

					&:after
					{
						display: block;
						background: #FFF;
						content: "";
						width: 50px;
						height: 1px;
						position: absolute;
						bottom: -15px;
					}
				}

				.info
				{
					position: absolute;
					left: 30px;
					right: 30px;
					bottom: 30px;

					p
					{
						color: #DFDFDF;
						font-size: 14px;
						line-height: 16px;
						text-transform: lowercase;
						margin: 5px 0 0;
					}
				}
			}

			&:hover
			{
				.cover
				{
					opacity: 1;
					transform: scale(1);
				}
			}
		}
	}

	#more
	{
		margin: 50px auto 10px;
	}
}

#exhibitions
{
	.row
	{
		margin: 0;

		h1, h2, h3
		{
			margin: 0;
		}

		&.year
		{
			margin: 0 0 40px;

			h1
			{
				font-weight: 700;
				text-align: center;
			}

			.separator
			{
				margin: 0 0 20px;

				&:after
				{
					margin-left: -55px;
					width: 110px;
					height: 2px;
				}
			}
		}

		&.month
		{
			margin: 0 0 20px;

			h2
			{
				font-style: italic;
				text-align: right;
				text-transform: capitalize;
			}
		}

		&.event
		{
			margin: 0 0 10px;

			.day
			{
				text-align: left;
			}

			p
			{
				margin: 0;

				&.place
				{
					color: #777;
					font-size: 12px;
				}
			}
		}

		&:last-child
		{
			margin-bottom: 0;
		}
	}
}

#about,
#contact
{
	.col
	{
		padding: 10%;

		h1
		{
			font-size: 48px;
			font-weight: 700;
			line-height: 52px;
			letter-spacing: 2px;
			text-transform: uppercase;
		}

		.separator
		{
			margin: 15px 0 30px;
		}

		&.left
		{
			background-color: #000;
			background-position: center center;
			background-size: cover;

			.info-box
			{
				color: #FFF;

				.sl
				{
					float: left;
					color: #fff;
					font-size: 80px;
					line-height: 80px;
					height: 80px;
				}

				.details
				{
					margin-left: 100px;

					.links
					{
						.icon
						{
							color: #FFF;
							font-size: 32px;
							line-height: 38px;
							width: 38px;
							height: 38px;
							transition: all .3s ease;

							&:hover
							{
								color: #777;
							}
						}

						.link
						{
							color: #FFF;
							font-size: 18px;
							line-height: 18px;
							margin-left: 15px;
						}
					}
				}
			}
		}

		&.right
		{
			background: #000;
			color: #FFF;

			h5
			{
				color: #999;
				font-size: 18px;
				line-height: 20px;
				text-transform: capitalize;
				margin: 0;
			}

			p
			{
				color: #DFDFDF;
				line-height: 20px;
				margin: 0 0 15px;
			}

			.btn
			{
				margin: 15px 0 0;
			}
		}
	}
}

#footer
{
	text-align: center;
	padding: 50px 0;

	.socials
	{
		.icon
		{
			color: #333;
			font-size: 20px;
			line-height: 26px;
			width: 26px;
			margin: 0 4px;
			transition: all .3s ease;

			&:hover
			{
				color: #777;
			}
		}
	}

	.copyright
	{
		color: #777;
		margin: 15px 0 0;

		.cr
		{
			font-size: 14px;
			line-height: 14px;
			width: 12px;
			margin-left: 5px;
		}
	}
}

@media (min-width: 1680px)
{
	.col-el-2
	{
		width: 16.66666667%;
	}

	.col-el-4
	{
		width: 33.33333334%;
	}
}

@media (max-width: 768px)
{
	.col
	{
		height: 100% !important;
	}
}

@media (width: 320px)
{
	#contact
	{
		.col.left
		{
			.info-box
			{
				.sl
				{
					display: none;
				}

				.details
				{
					margin-left: 0;
				}
			}
		}
	}
}