<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" type="image/png" href="<%= image_path("favicon.png") %>"/>

	<title>Марина Жгивалёва</title>

	<%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
		<div class="navbar">
			<div class="row">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">
						<%= image_tag "logo.png", alt: "Zhgivaleva" %>
					</a>
					<div class="row">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon"></span>
						</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="navbar-collapse collapse" role="navigation">
					<ul class="nav navbar-nav">
						<li>
							<%= link_to content_tag(:span, "Работы", "data-title": "Работы"), root_path %>
						</li>
						<li>
							<%= link_to content_tag(:span, "Выставки", "data-title": "Выставки"), exhibitions_path %>
						</li>
						<li>
							<%= link_to content_tag(:span, "О себе", "data-title": "О себе"), about_path %>
						</li>
						<li>
							<%= link_to content_tag(:span, "Контакты", "data-title": "Контакты"), contact_path %>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<%= yield %>

	<div id="footer">
		<div class="container">
			<div class="socials">
				<a class="icon vk" href="#"></a>
				<a class="icon fb" href="#"></a>
				<a class="icon ok" href="#"></a>
				<a class="icon tw" href="#"></a>
				<a class="icon gp" href="#"></a>
			</div>
			<div class="copyright">
				<span class="icon cr">©</span> <%= DateTime.now.strftime("%Y") %> Марина Жгивалёва
			</div>
		</div>
	</div>

	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>